<md-content flex md-scroll-y layout-fill layout-padding>
	<div layout="row" layout-align="center center">
    <md-card flex-gt-sm="90" flex-gt-md="80" layout-padding>
	    <md-card-content>
          <div layout="row"> 
            <span flex></span>
            <h2>
            {{quizVM.quizName}} Quiz
            </h2>
            <span flex></span>
          </div>
          <p></p>
          <md-divider></md-divider>
          <md-list>
            <md-item ng-repeat="flashcard in quizVM.flashcards">
              <md-item-content>
                <md-menu-item style="height:300px">
                  <div layout="column">
                    <div layout="row" layout-align="center center">
                      <md-card style="height:200px" flex="40">
                        <md-card-content>
                          <b>
                            <strong>
                              <font size="5">{{quizVM.questions[$index]}}</font>
                            </strong>
                        </b>
                        </md-card-content>
                      </md-card>
                      <span flex="5"></span>
                      <md-card style="height:200px" flex="40">
                        <md-card-content>
                          <md-input-container>
                            <input type="text" required ng-model="quizVM.inputAnswers[$index]" placeholder="Answer"/>
                          </md-input-container>
                        </md-card-content>
                      </md-card>
                    </div>
                    <div layout="row">  
                      <p></p>
                    </div>
                  </div>
                </md-menu-item>
              </md-item-content>
            </md-item>
          </md-list>
          <div layout="row">
            <span flex></span>
            <button class="md-button md-raised md-primary" ng-click="quizVM.showAdvanced($event)">Submit</button>
          </div>
      </md-card-content>
     </md-card>
  </div>
</md-content>