<md-content flex md-scroll-y layout-fill layout-padding>
	<div layout="row" ng-submit="makeQuiz.createQuiz()" layout-align="center center">
		<md-card flex-gt-md="90" flex-gt-md="40" layout-padding>
			<md-card-content>
				<h1>Make Quiz</h1>
				<md-divider></md-divider>
				<span flex></span>
                <form name="quiz" role="form">
                    <div layout="row">
                        <span flex="5"></span>
                        <h2 flex="50">Quiz Name:</h2>
                        <md-input-container flex="50">
                            <input placeholder="Quiz Name" required ng-model="makeQuizVM.quiz.quizName" />
                        </md-input-container>
                    </div>

                    <!--create button?  Then send to quiz edit page where to add questions-->
                    <!--<div layout="row">
            <span flex="10"></span>
            <h2 flex="30">Question:</h2>
            <md-input-container flex="30">
                <input type="text" placeholder="Question" ng-model="makeQuizVM.flashcard.question" />
            </md-input-container>
            <span flex="5"></span>
            <h2 flex="30">Answer:</h2>
            <md-input-container flex="30">
                <input type="text" placeholder="Question" ng-model="makeQuizVM.flashcard.answer" />
            </md-input-container>
        </div>-->
                    <!--Need submit button for new quiz-->

                    <button ng-click="makeQuizVM.createQuiz()" class="md-button ng-scope md-primary md-raised" layout-align="end end" type="submit">

                        <!--<ng-md-icon  icon="add" size="24" style="fill: white"></ng-md-icon>-->
                        Submit
                    </button>
                </form>
			</md-card-content>
		</md-card>
	</div>
</md-content>