<md-content flex md-scroll-y layout-fill layout-padding>
	<div layout="row" ng-submit="makeQuiz.createQuiz()" layout-align="center center">
		<md-card flex-gt-md="30" flex-gt-md="40" layout-padding>
			<md-card-content>
                <div layout="row">
                    <span flex></span>
    				<font size="7"><strong>Make Quiz</strong></font>
                    <span flex></span>
                </div>
				<md-divider></md-divider>
                <span></span>
                <p></p>
                <form name="quiz" ng-submit="makeQuizVM.createQuiz()" role="form">
                    <div layout="row">
                        <h2 flex="25">Quiz Name:</h2>
                        <md-input-container flex>
                            <input type="text" placeholder="Quiz Name" required ng-model="$root.quizName" />
                        </md-input-container>
                    </div>

                    <!--create button?  Then send to quiz edit page where to add questions-->
                    <!--<div layout="row">
            <span flex="10"></span>
            <h2 flex="30">Question:</h2>
            <md-input-container flex="30">
                <input type="text" placeholder="Question" ng-model="makeQuizVM.flashcard.question" />
            </md-input-container>
            <span flex="5"></span>
            <h2 flex="30">Answer:</h2>
            <md-input-container flex="30">
                <input type="text" placeholder="Question" ng-model="makeQuizVM.flashcard.answer" />
            </md-input-container>
        </div>-->
                    <!--Need submit button for new quiz-->
                    <div layout="row">
                        <span flex></span>
                        <md-button class="md-button ng-scope md-primary md-raised" type="submit" layout-align="end end">

                            <!--<ng-md-icon  icon="add" size="24" style="fill: white"></ng-md-icon>-->
                            Submit
                        </md-button>
                        <span flex></span>
                    </div>
                </form>
			</md-card-content>
		</md-card>
	</div>
</md-content>