<div class="specialBoxes">
	<div class="cardPadding" layout="row" layout-wrap>
		<md-card style="width: 350px; height:200px" flex="33">
			<md-card-header style="height:100%">
				<md-card-header-text layout-wrap>
					<md-button style="height:100%">
                        Science
                    </md-button>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-card style="width: 350px; height:200px" flex="33">
			<md-card-header style="height:100%">
				<md-card-header-text layout-wrap>
					<md-button style="height:100%">
                        Math
                    </md-button>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-card style="width: 350px; height:200px" flex="33">
			<md-card-header style="height:100%">
				<md-card-header-text layout-wrap>
					<md-button style="height:100%">
                        History
                    </md-button>
				</md-card-header-text>
			</md-card-header>
		</md-card>		
	</div>
</div>