<div layout="row" layout-align="center end">
	<h2>My Quizzes</h2>
</div>
<div class="specialBoxes" layout="column" style="width:100%">
	<div layout="row" layout-wrap>
		<span flex="5"></span>
		<md-card flex="30" style="height:200px">
			<md-card-header style="height:100%">
				<md-card-header-text layout-wrap>
					<md-button ng-click="takeQuizVM.makeQuiz()" class="quiz-btn" style="height:100%">
                        Make Your Own!
                    </md-button>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-list>
			<md-item ng-repeat="quiz in takeQuizVM.quizzes">
				<md-item-content>
					<md-menu-item>
						<md-card flex="30" style="height:200px">
							<md-card-header style="height:100%">
								<md-card-header-text layout-wrap>
									<md-button ng-click="takeQuizVM.goToQuiz(quiz)" class="quiz-btn" style="height:100%">
				                        {{quiz.quizName}}
				                    </md-button>
								</md-card-header-text>
							</md-card-header>
						</md-card>
					</md-menu-item>
				</md-item-content>
			</md-item>
		</md-list>
	</div>


    <div ng-repeat="quiz in takeQuizVM.quizzes">

        <div class="row" ng-if="$even">

                    <md-card flex="30" style="height:200px">
                        <md-card-header style="height:100%">
                            <md-card-header-text layout-wrap>
                                <md-button ng-click="takeQuizVM.goToQuiz(quiz)" class="quiz-btn" style="height:100%">
                                    {{takeQuizVM.quizzes[$index].quizName}}
                                </md-button>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>


                    <md-card flex="30" style="height:200px">
                        <md-card-header style="height:100%">
                            <md-card-header-text layout-wrap>
                                <md-button ng-click="takeQuizVM.goToQuiz(quiz)" class="quiz-btn" style="height:100%">
                                    {{takeQuizVM.quizzes[$index + 1].quizName}}
                                </md-button>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>

        </div>

    </div>


	<p></p>
	<div class="cardPadding">
		<p></p>
		<md-divider></md-divider>
	</div>
	<div layout="row" layout-align="center end">
		<h2>Take a Random Quiz!</h2>
	</div>
	<div layout="row" layout-wrap>
		<span flex="5"></span>		
		<md-card flex="30" style="height:200px">
			<md-card-header style="height:100%">
				<md-card-header-text layout-wrap>
					<md-button ng-click="takeQuizVM.goToQuiz('Science')" class="quiz-btn" style="height:100%">
                        Science
                    </md-button>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-card flex="30">
			<md-card-header style="height:100%">
				<md-card-header-text layout-wrap>
					<md-button ng-click="takeQuizVM.goToQuiz('Math')" class="quiz-btn" style="height:100%">
                        Math
                    </md-button>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-card flex="30">
			<md-card-header style="height:100%">
				<md-card-header-text layout-wrap>
					<md-button ng-click="takeQuizVM.goToQuiz('History')" class="quiz-btn" style="height:100%">
                        History
                    </md-button>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<span flex="5"></span>
		<md-card flex="30" style="height:200px">
			<md-card-header style="height:100%">
				<md-card-header-text layout-wrap>
					<md-button ng-click="takeQuizVM.goToQuiz('Geography')" class="quiz-btn" style="height:100%">
                        Geography
                    </md-button>
				</md-card-header-text>
			</md-card-header>
		</md-card>
		<md-card flex="30" style="height:200px">
			<md-card-header style="height:100%">
				<md-card-header-text layout-wrap>
					<md-button ng-click="takeQuizVM.goToQuiz('General')" class="quiz-btn" style="height:100%">
                        General
                    </md-button>
				</md-card-header-text>
			</md-card-header>
		</md-card>	
	</div>
</div>